<!doctype html >
<html class="no-js" lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asbab - eCommerce HTML5 Templatee</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/client/images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/client/apple-touch-icon.png}">
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/client/css/bootstrap.min.css}">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" th:href="@{/client/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/client/css/owl.theme.default.min.css}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/client/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/client/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/client/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/client/css/responsive.css}">
    <!-- User style -->
    <link rel="stylesheet" th:href="@{/client/css/custom.css}">


    <!-- Modernizr JS -->
    <script th:src="@{/client/js/vendor/modernizr-3.5.0.min.js}"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a th:href="@{http://browsehappy.com/}">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <header id="htc__header" class="htc__header__area header--one">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="menumenu__container clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5"> 
                                <div class="logo">
                                     <a th:href="@{/home}"><img th:src="@{/client/images/logo/4.png}" alt="logo images"></a>
                                </div>
                            </div>
                             <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
                                <nav class="main__menu__nav hidden-xs hidden-sm">
                                    <ul class="main__menu">
                                        <li class="drop"><a th:href="@{/home}">Home</a></li>
                                        <li class="drop" th:each="cate:${categories}" th:if="${cate.status==1}"><a th:href="@{'/client/product/list/'+${cate.id}}" th:text="${cate.categories}"></a>
                                        	<ul class="dropdown mega_dropdown">
                                                <!-- Start Single Mega MEnu -->
                                                <li> 
                                                    <ul class="mega__item"  th:each="sub :${cate.subCategoriesDTOs}">
                                                        <li><a th:href="@{'/client/productlist/' +${sub.id}}" th:text="${sub.sub_categories}"></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>

                                <div class="mobile-menu clearfix visible-xs visible-sm">
                                    <nav id="mobile_dropdown">
                                        <ul>
                                            <li><a th:href="@{/home}">Home</a></li>
                                            <li th:each="cate:${categories}" th:if="${cate.status==1}"><a th:href="@{/home}" th:text="${cate.categories}">pages</a>
                                                <ul th:each="sub :${cate.subCategoriesDTOs}">
                                                    <li><a href="product-grid.html" th:text="${sub}"></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">contact</a></li>
                                        </ul>
                                    </nav>
                                </div>  
                            </div>       
                            
                            
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="header__right">
                                    <div class="header__search search search__open">
                                        <a th:href="@{#}"><i class="icon-magnifier icons"></i></a>
                                    </div>
                                    <div class="header__account">
												<ul class=" mr-auto">
												  <li class="dropdown">
													<a class=" dropdown-toggle" style="padding: 2px 10px 0 0"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="icon-user icons"></i>
													</a>
													<div class="dropdown-menu" aria-labelledby="navbarDropdown">
														<a class="dropdown-item" sec:authorize="!isAuthenticated()"  th:href="@{/login}">Đăng Nhập</a>
													 	 <a class="dropdown-item" sec:authorize="isAuthenticated()" th:text="'User '+${session.user}">User:name</a>
													 	 <a class="dropdown-item" sec:authorize="isAuthenticated()" >Don hang</a>
													  <div class="dropdown-divider"></div>
													  <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/logout}">Đăng xuất</a>
													</div>
												  </li> 
												</ul>
                                    </div>
                                    <div class="htc__shopping__cart">
                                        <a class="cart__menu" th:href="@{#}"><i class="icon-handbag icons"></i></a>
                                        <!-- <a th:href="@{#}"><span class="htc__qua">2</span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        </div>  
        </div>   
        <div class="body__overlay"></div>
        <!-- Start Offset Wrapper -->
        <div class="offset__wrapper">
            <!-- Start Search Popap -->
            <div class="search__area">
                <div class="container" >
                    <div class="row" >
                        <div class="col-md-12" >
                            <div class="search__inner">
                                <form action="#" method="get">
                                    <input placeholder="Search here... " type="text">
                                    <button type="submit"></button>
                                </form>
                                <div class="search__close__btn">
                                    <span class="search__close__btn_icon"><i class="zmdi zmdi-close"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Search Popap -->
            <!-- Start Cart Panel -->
            <!-- End Cart Panel -->
        </div>
        <!-- End Offset Wrapper -->
        <!-- Start Slider Area -->
        <div class="slider__container slider--one bg__cat--3">
            <div class="slide__container slider__activation__wrap owl-carousel">
                <!-- Start Single Slide -->
                <div class="single__slide animation__style01 slider__fixed--height">
                    <div class="container">
                        <div class="row align-items__center">
                            <div class="col-md-7 col-sm-7 col-xs-12 col-lg-6">
                                <div class="slide">
                                    <div class="slider__inner">
                                        <h2>collection 2018</h2>
                                        <h1>NICE CHAIR</h1>
                                        <div class="cr__btn">
                                            <a th:href="@{cart.html}">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-5 col-xs-12 col-md-5">
                                <div class="slide__thumb">
                                    <img th:src="@{images/slider/fornt-img/1.png}" alt="slider images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="single__slide animation__style01 slider__fixed--height">
                    <div class="container">
                        <div class="row align-items__center">
                            <div class="col-md-7 col-sm-7 col-xs-12 col-lg-6">
                                <div class="slide">
                                    <div class="slider__inner">
                                        <h2>collection 2018</h2>
                                        <h1>NICE CHAIR</h1>
                                        <div class="cr__btn">
                                            <a th:href="@{cart.html}">Shop Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-5 col-xs-12 col-md-5">
                                <div class="slide__thumb">
                                    <img th:src="@{images/slider/fornt-img/2.png}" alt="slider images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Slide -->
            </div>
        </div>
        <!-- Start Slider Area -->
        <!-- Start Category Area -->
        <section class="htc__category__area ptb--100">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title--2 text-center">
                            <h2 class="title__line">New Arrivals</h2>
                            <p>But I must explain to you how all this mistaken idea</p>
                        </div>
                    </div>
                </div>
                	<br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                <div class="htc__product__container">
                 <h2 class="title__line">Đồng Hồ Nam</h2>
                    <div class="row">
                        <div class="product__list clearfix mt--30">
                            <!-- Start Single Category -->
                            <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12" th:each="pro :${product}" th:if="${pro.status==1}">
                                <div class="category" th:if="${pro.id_categories==1}">
                                    <div class="ht__cat__thumb">
                                        <a th:href="@{'/client/productdetail/' +${pro.id}}">
                                            <img th:src="@{'/images/flags/'+${pro.image}}" alt="product images">
                                        </a>
                                    </div>
                                    <div class="fr__hover__info">
                                        <ul class="product__action">
                                            <li><a th:href="@{wishlist.html}"><i class="icon-heart icons"></i></a></li>

                                            <li><a th:href="@{'/client/productdetail/' +${pro.id}}"><i class="icon-handbag icons"></i></a></li>

                                            <li><a th:href="@{#}"><i class="icon-shuffle icons"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="fr__product__inner">
                                        <h4><a th:href="@{'/client/productdetail/' +${pro.id}}" th:text="${pro.name}"></a></h4>
                                        <ul class="fr__pro__prize">
                                            <li class="old__prize" th:text="${pro.mrp}"></li>
                                            <li th:text="${pro.price}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2 class="title__line">Đồng Hồ Nữ</h2>
                    <div class="row">
                        <div class="product__list clearfix mt--30">
                            <!-- Start Single Category -->
                            <div class="col-md-4 col-lg-3 col-sm-4 col-xs-12" th:each="pro :${product}" th:if="${pro.status==1}">
                                <div class="category" th:if="${pro.id_categories==2}">
                                    <div class="ht__cat__thumb">
                                        <a th:href="@{'/client/productdetail/' +${pro.id}}">
                                            <img th:src="@{'/images/flags/'+${pro.image}}" alt="product images">
                                        </a>
                                    </div>
                                    <div class="fr__hover__info">
                                        <ul class="product__action">
                                            <li><a th:href="@{wishlist.html}"><i class="icon-heart icons"></i></a></li>

                                            <li><a th:href="@{'/client/productdetail/' +${pro.id}}"><i class="icon-handbag icons"></i></a></li>

                                            <li><a th:href="@{#}"><i class="icon-shuffle icons"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="fr__product__inner">
                                        <h4><a th:href="@{'/client/productdetail/' +${pro.id}}" th:text="${pro.name}"></a></h4>
                                        <ul class="fr__pro__prize">
                                            <li class="old__prize" th:text="${pro.mrp}"></li>
                                            <li th:text="${pro.price}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </section>
       
		<footer th:replace="user/bottom ::bottom"></footer>
        <!-- End Footer Style -->
    </div>
   
    <!-- jquery latest version -->
    <script th:src="@{/client/js/vendor/jquery-3.2.1.min.js}"></script>
    <!-- Bootstrap framework js -->
    <script th:src="@{/client/js/bootstrap.min.js}"></script>
    <!-- All js plugins included in this file. -->
    <script th:src="@{/client/js/plugins.js}"></script>
    <script th:src="@{/client/js/slick.min.js}"></script>
    <script th:src="@{/client/js/owl.carousel.min.js}"></script>
    <!-- Waypoints.min.js. -->
    <script th:src="@{/client/js/waypoints.min.js}"></script>
    <!-- Main js file that contents all jQuery plugins activation. -->
    <script th:src="@{/client/js/main.js}"></script>

</body>

</html>