<!doctype html >
<html class="no-js" lang="en" th:fragment="top" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Asbab - eCommerce HTML5 Templatee</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/client/images/favicon.ico}">
    <link rel="apple-touch-icon" th:href="@{/client/apple-touch-icon.png}">
    

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" th:href="@{/client/css/bootstrap.min.css}">
    <!-- Owl Carousel min css -->
    <link rel="stylesheet" th:href="@{/client/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/client/css/owl.theme.default.min.css}">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" th:href="@{/client/css/core.css}">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" th:href="@{/client/css/shortcode/shortcodes.css}">
    <!-- Theme main style -->
    <link rel="stylesheet" th:href="@{/client/style.css}">
    <!-- Responsive css -->
    <link rel="stylesheet" th:href="@{/client/css/responsive.css}">
    <!-- User style -->
    <link rel="stylesheet" th:href="@{/client/css/custom.css}">


    <!-- Modernizr JS -->
    <script th:src="@{/client/js/vendor/modernizr-3.5.0.min.js}"></script>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a th:href="@{http://browsehappy.com/}">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->  

    <!-- Body main wrapper start -->
    <div class="wrapper">
        <!-- Start Header Style -->
        <header id="htc__header" class="htc__header__area header--one">
            <!-- Start Mainmenu Area -->
            <div id="sticky-header-with-topbar" class="mainmenu__wrap sticky__header">
                <div class="container">
                    <div class="row">
                        <div class="menumenu__container clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-5"> 
                                <div class="logo">
                                     <a th:href="@{/home}"><img th:src="@{/client/images/logo/4.png}" alt="logo images"></a>
                                </div>
                            </div>
                             <div class="col-md-7 col-lg-8 col-sm-5 col-xs-3">
                                <nav class="main__menu__nav hidden-xs hidden-sm">
                                    <ul class="main__menu">
                                        <li class="drop"><a th:href="@{/home}">Home</a></li>
                                        <li class="drop" th:each="cate:${categories}" th:if="${cate.status==1}"><a th:href="@{'/client/product/list/'+${cate.id}}" th:text="${cate.categories}"></a>
                                        	<ul class="dropdown mega_dropdown">
                                                <!-- Start Single Mega MEnu -->
                                                <li> 
                                                    <ul class="mega__item"  th:each="sub :${cate.subCategoriesDTOs}">
                                                        <li><a th:href="@{'/client/productlist/' +${sub.id}}" th:text="${sub.sub_categories}"></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">contact</a></li>
                                    </ul>
                                </nav>

                                <div class="mobile-menu clearfix visible-xs visible-sm">
                                    <nav id="mobile_dropdown">
                                        <ul>
                                            <li><a th:href="@{/home}">Home</a></li>
                                            <li th:each="cate:${categories}" th:if="${cate.status==1}"><a th:href="@{/home}" th:text="${cate.categories}">pages</a>
                                                <ul th:each="sub :${cate.subCategoriesDTOs}">
                                                    <li><a href="product-grid.html" th:text="${sub}"></a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">contact</a></li>
                                        </ul>
                                    </nav>
                                </div>  
                            </div>       
                            
                            
                            <div class="col-md-3 col-lg-2 col-sm-4 col-xs-4">
                                <div class="header__right">
                                    <div class="header__search search search__open">
                                        <a th:href="@{#}"><i class="icon-magnifier icons"></i></a>
                                    </div>
                                    <div class="header__account">
												<ul class=" mr-auto">
												  <li class="dropdown">
													<a class=" dropdown-toggle" style="padding: 2px 10px 0 0"  role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
															<i class="icon-user icons"></i>
													</a>
													<div class="dropdown-menu" aria-labelledby="navbarDropdown">
														<a class="dropdown-item" sec:authorize="!isAuthenticated()"  th:href="@{/login}">Đăng Nhập</a>
													 	 <a class="dropdown-item" sec:authorize="isAuthenticated()" th:text="'User '+${session.user}">User:name</a>
													 	 <a class="dropdown-item" sec:authorize="isAuthenticated()"  th:href="@{/client/cart}">Đơn Hàng</a>
													  <div class="dropdown-divider"></div>
													  <a class="dropdown-item" sec:authorize="isAuthenticated()" th:href="@{/logout}">Đăng xuất</a>
													</div>
												  </li> 
												</ul>
                                    </div>
                                    <div class="htc__shopping__cart">
                                        <a class="cart__menu" th:href="@{#}"><i class="icon-handbag icons"></i></a>
                                        <!-- <a th:href="@{#}"><span class="htc__qua">2</span></a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area"></div>
                </div>
            </div>
            <!-- End Mainmenu Area -->
        </header>
        </div>